body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #070c24;
    color: #fff;
    padding: 30px 0;
    font-weight: bold;
    text-align: center;

}



header h1 {
    margin: 0;
}


main {
    padding: 20px;
}





.content-container{
    display: flex;
    flex-wrap: wrap;
}

ul#animelist {
    list-style: none;
    padding: 0;
}

ul#animelist li {
    padding: 10px;
    background-color: #070c24;
    margin-bottom: 5px;
    border: 1px solid #0f123896;
    color: azure;
    width: 400px;
   

}

.link a{
    text-decoration: none;
    color: white;
}



.wallpaper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.wallpaper img {
    width: 400px;
    height: auto;
    margin-left: 0;
    margin-bottom: 50px;
}

footer {
    background-color: #070c24;
    color: #fff;
    text-align: center;
    padding: 5px 0;
   
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    footer {
        position: relative;
    }

    .content-container {
        flex-direction: column;
    }

    .wallpaper {
        margin-top: 20px;
    }
 
}